@media only screen and (max-width: 1000px) {
    model-viewer{
        width: 22rem;
        height: 30rem;
        margin: 0 auto;
    }
    .site-main .site-banner .site-title{
        padding-left: 0;
    }
    .site-main .project-area .grid img{
        width: 90%;
        height: 90%;
        margin: .5rem;
    } 

}
@media only screen and (max-width: 600px) {
    .site-main .site-banner .site-title h1{
        font-size: 2.5rem;
    }
    .site-main .project-area .grid {
        width: 90%;
        height: 90%;
        padding-left: 3rem;
    }
    p.para{
        color: var(--title-color2);
        font: normal 400 8px/12.5px var(--poppins);
        margin: 0;
        padding: 0;
        text-overflow: ellipsis;
    }
    .site-main .site-banner .site-title .title-text,
    .site-main .site-banner .site-title .word,
    .site-main .site-banner .site-title .flex-wrap
    {
        padding-left: 2rem;
    }
    .site-main .about-area .client .about-client{
	padding-bottom:1rem;
    }

}
@media only screen and (max-width: 1100px) {
    .site-main .about-area .nogod{
        border: 1px solid #3f3f51;
        height: 33rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .site-main .about-area .nogod h1{
        font-size: 1.5rem;
    }
    .site-main .about-area .nogod p{
        font-size: .8rem;
    }
}
@media only screen and (max-width:340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .services-area{
        padding: 2%;
        margin: 0;
    }
    .site-main .site-banner .site-title h1{
        font-size: 2.5rem;
    }

    
}
@media only screen and (max-width:760px){
    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--poppins)
    }
    .site-main .about-area .about-title{
        padding: 0%;
    }
}